<?xml version="1.0" encoding="UTF-8" ?>

<configuration scan="true" scanPeriod="60 seconds" debug="false">
    <property name="app_name" value="logback4j" />
    <contextName>${app_name}</contextName>
    <!-- encoder 默认配置为PatternLayoutEncoder
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} [%level] - %m%n</pattern>
        </encoder>
    </appender>-->

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>%d{yyyy-MM-dd'T'HH:mm:ss.SSSZZ} %c{1} [%p] %m%n</pattern>
        </encoder>
    </appender>

    <!--控制logback包下的所有类的日志的打印，但是并没用设置打印级别，所以继承他的上级<root>的日志级别“DEBUG” -->
    <!--<logger name="logback" />-->

    <!--<logger name="logback.TestLog4j" level="debug" additivity="true">-->
        <!--<appender-ref ref="STDOUT"/>-->
    <!--</logger>-->

    <!--Appenders must be definied before they are referenced. -->
    <root level="info">
        <appender-ref ref="STDOUT" />
    </root>

</configuration>